furhat/
models/.DS_Store
models/adult/.DS_Store
models/adult/profiles/.DS_Store
models/adult/profiles/characters/.DS_Store
models/adult/textures/.DS_Store
models/adult/textures/eyes/.DS_Store
models/adult/textures/facial-hair/.DS_Store
models/adult/textures/tattoos/.DS_Store
models_src/.DS_Store
models_src/adult/.DS_Store
models_src/adult/profiles/.DS_Store
models_src/adult/profiles/characters/.DS_Store
models_src/adult/textures/.DS_Store
models_src/adult/textures/eyes/.DS_Store
models_src/adult/textures/facial-hair/.DS_Store
models_src/adult/textures/tattoos/.DS_Store
plot_src/.DS_Store
.DS_Store
